<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul>
    <h2>Salary Sum of all musicians:</h2>
    <h3>$ {{number_of_musicians.sum_salary}}</h3>
    {% for musician in musicians %}
    <a href="{% url 'update_musician' musician.id %}">
        <li> {{ musician.first_name }}</li>
    </a>
    {% endfor %}
</ul>

<a href="{% url 'create_musician' %}">New Musician</a>
</body>
</html>